/* 
 * Copyright 2013-2014 Nathanaël Jourdane
 * This file is part of Zazouck.
 * Zazouck is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * Zazouck is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Zazouck. If not, see <http://www.gnu.org/licenses/>.
 */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color : #CCC;
	font-family: "Sawasdee", Arial;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

li {
	margin-left: 20px;
	list-style-type: none;
}

iframe {
	position: absolute;
	top: 40px;
	height:88%;
}

iframe#menu {
	float:left;
	width:150px;
	border-width:0px 1px 0px 0px;
}

iframe#detail {
	float:right;
	left:150px;
	height:88%;
	border-width:0px;
}

div#infos {
	height: 200px;
	padding: 20px;
}

#menu a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
}

#menu a:hover, a.focus {
	background-color: #AAA;
}

div#text {
	float: left;
}

div#infos li {
	list-style-type: disc;
}

img.thumbnail {
	width: 100px;
}

img.large {
	display: block;
	float: left;
	width: 200px;
	margin-right: 20px;
}

div#childrens, div#connections {
	text-align:center;
	margin-top: 20px;
	width:100%;
	height: 200px;
}

div.icon {
	text-align: center;
	padding: 3px;
	border: 1px solid;
	margin: 2px;
	width: 100px;
    display:inline-block;
}

div.icon:hover {
	background-color: #AAA;
}

a.element {
	color: black;
	text-decoration: none;
}

div.separator {
	clear: both;
}

header {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background: #AAA;
}

footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	background: #AAA;
}